body{
    margin: 0px;
    padding: 0px;
    background: #292929;

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type="checkbox"]{
    position: relative;
    width: 250px;
    height: 90px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 0 4px #428af5, 0 0 0 8px #11428b, inset 0 0 10px rgba(0,0,0,1), 0 5px 20px  rgba(0,0,0,.1), inset 0 0 15px rgba(0,0,0,.2);
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 150px;
    height: 90px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 50px;
    box-shadow: 0 0 0 2px #ff0202;
    transform: scale(.98,.96);
    transition: .5s;
}
input:checked[type="checkbox"]::before{
    left:100px ;
}
input:checked[type="checkbox"]{
    background: linear-gradient(0deg,#6dd1ff,#20b7ff);
}
input[type="checkbox"]::after{
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left:115px;
    width: 10px;
    height: 10px;
    background:linear-gradient(0deg, #1ef32f, #000);
    border-radius: 50px;
    transform: scale(.98,.96);
    transition: .5s;
}
input:checked[type="checkbox"]::after{
    
    background: #63cdff;
    left:215px;
    box-shadow:0 0 5px #41e2ff;
}
.center h1{
    color: aliceblue;
    box-shadow: 0 0 55px #428af5;
    z-index: .9;
    border-radius: 50px;
    text-align: center;
    
}
.center p{
    color: #292929;
    box-shadow: 0 0 10px #428af5;
    z-index: .9;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}